<p-fieldset legend="Guesses" class="flex">
  <div class="flex flex-col gap-2">

    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess01"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess02"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess03"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess04"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess05"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess06"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess07"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess08"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess09"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess10"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess11"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess12"/>

    @if (resultsService.numberOfGuesses() > 12) {
      <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess13"/>
    }

    @if (resultsService.numberOfGuesses() > 13) {
      <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess14"/>
      <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess15"/>
      <input type="text" pSize="small" pInputText maxlength="5" [formControl]="guesses.controls.guess16"/>
    }

  </div>
</p-fieldset>