<p-fieldset legend="Words" class="flex">
  <div class="flex flex-col gap-1">
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="words.controls.word1" [class]="getValidityClass(words.controls.word1)"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="words.controls.word2" [class]="getValidityClass(words.controls.word2)"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="words.controls.word3" [class]="getValidityClass(words.controls.word3)"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="words.controls.word4" [class]="getValidityClass(words.controls.word4)"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="words.controls.word5" [class]="getValidityClass(words.controls.word5)"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="words.controls.word6" [class]="getValidityClass(words.controls.word6)"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="words.controls.word7" [class]="getValidityClass(words.controls.word7)"/>
    <input type="text" pSize="small" pInputText maxlength="5" [formControl]="words.controls.word8" [class]="getValidityClass(words.controls.word8)"/>
  </div>
</p-fieldset>